@model FitnessFusion.Models.GymProgram

@{
    ViewData["Title"] = "Details";
}

<head>
    <style>
        body {
            background-color: #1B1D1F;
        }

        .category {
            color: #ffffff;
            font-style: italic;
        }

        .description {
            margin-top: 20px;
            color: #ffffff;
        }

        .btn-custom {
            background-color: #ff4300;
            color: #ffffff;
        }
    </style>
</head>
<body>
    <h1 style="color: #ff4300;">@Model.Name</h1>
    <p class="category">Category: @Model.Type</p>
    <div class="description">
        <p>@Html.Raw(Model.Description)</p>
    </div>
</body>
<div>
    <form asp-action="AllPrograms">
        <button type="submit" class="btn btn-custom">Programi Aktivnosti</button>
    </form>
    @if (User.IsInRole("User"))
    {
        <form asp-action="AddToUser" asp-route-id="@Model.Id">
            <button type="submit" class="btn btn-custom" style="margin-top: 10px;">Add Program</button>
        </form>
    }
</div>
