@model IEnumerable<FitnessFusion.Models.Trainer>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutTrainer";
}

<h1 style="color: #ff4300;">Welcome, @User.Identity.Name</h1>

<body style="background-image: linear-gradient(to right, #18171a ,#18171a, #343238,#46454a);">

    <link href="~/css/style2.css" rel="stylesheet" />

        <div class="home-container">
            <div class="home-container1">
                <div class="home-container2">

                <a class="nav-link text-dark" asp-area="" asp-controller="Results" asp-action="Create">
                    <button type="button" id="btnUnosRezultata" class="home-button button">
                        <span class="home-text">
                       
                            <span>Unos rezultata</span>
                            <br />
                        </span>
                    </button>
                </a>

                <a class="nav-link text-dark" asp-area="" asp-controller="Schedule" asp-action="Index">
                    <button type="button" id="btnRaspored" class="home-button1 button">
                        <span class="home-text3">
                            <span>Korisnikovi rasporedi</span>
                            <br />
                        </span>
                    </button>
                </a>


                </div>
            
            <img src="~/css/slike/logo2.png"
                 alt="image"
                 class="home-image" />

            </div>
        </div>
    </>
    
</body>


