.log-in-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.log-in-sign-in-page {
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(24, 24, 24, 1);
}
.log-in-right {
  top: -56px;
  left: 481px;
  width: 935px;
  height: 1187px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.log-in-login {
  top: 71px;
  right: -74px;
  width: 932px;
  height: 1023px;
  position: absolute;
}
.log-in-text {
  top: 470px;
  left: 138px;
  color: rgba(255, 255, 255, 1);
  width: 659px;
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.log-in-navlink {
  display: contents;
}
.log-in-group1 {
  top: 594px;
  left: 219px;
  width: 420px;
  height: 50px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  text-decoration: none;
  background-color: rgba(255, 67, 0, 1);
}
.log-in-text02 {
  top: 16px;
  left: 109.71910095214844px;
  color: #efe8e6;
  width: 202px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.log-in-line4 {
  top: 56px;
  left: 66px;
  width: 1033px;
  height: 1px;
  position: absolute;
}
.log-in-polygon2 {
  left: 27px;
  width: 100px;
  bottom: 1px;
  height: 536px;
  position: absolute;
}
.log-in-polygon21 {
  top: 23px;
  left: 29px;
  width: 98px;
  height: 483px;
  position: absolute;
}
.log-in-ff11 {
  top: 52px;
  left: 138px;
  width: 236px;
  height: 214px;
  position: absolute;
}
.log-in-left {
  top: 0px;
  left: 0px;
  width: 505px;
  height: 1024px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.log-in-frame5 {
  gap: 30px;
  top: 285px;
  left: 86px;
  width: 350px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.log-in-frame4 {
  gap: 35px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.log-in-frame1 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.log-in-text03 {
  color: rgba(255, 255, 255, 1);
  width: 168px;
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.log-in-rectangle1 {
  width: 350px;
  height: 50px;
  border-color: rgba(85, 85, 85, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.log-in-frame2 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.log-in-text05 {
  color: rgba(255, 255, 255, 1);
  width: 168px;
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.log-in-rectangle2 {
  width: 350px;
  height: 50px;
  border-color: rgba(85, 85, 85, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
}
.log-in-group11 {
  width: 350px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 67, 0, 1);
}
.log-in-text07 {
  top: 16px;
  left: 91px;
  color: rgba(255, 255, 255, 1);
  width: 168px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.log-in-frame10 {
  gap: 39px;
  top: 629px;
  left: 85px;
  width: 351px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.log-in-frame9 {
  gap: 31px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.log-in-frame7 {
  gap: 19px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.log-in-text09 {
  color: rgba(255, 255, 255, 1);
  width: 168px;
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.log-in-frame6 {
  gap: 14px;
  display: flex;
  align-items: center;
}
.log-in-line1 {
  width: 150px;
  height: 1px;
}
.log-in-text11 {
  color: rgba(170, 170, 170, 1);
  width: 23px;
  height: auto;
  font-size: 13px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.log-in-line2 {
  width: 150px;
  height: 1px;
}
.log-in-navlink1 {
  display: contents;
}
.log-in-group2 {
  width: 250px;
  height: 50px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  text-decoration: none;
  background-color: rgba(255, 67, 0, 1);
}
.log-in-text13 {
  top: 14px;
  left: 64.99957275390625px;
  color: var(--dl-color-gray-white);
  width: 120px;
  height: auto;
  position: absolute;
  font-size: 15px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.log-in-frame8 {
  gap: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.log-in-text16 {
  color: rgba(255, 255, 255, 1);
  width: 299px;
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.log-in-frame3 {
  gap: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.log-in-text18 {
  color: rgba(255, 67, 0, 1);
  width: 74px;
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.log-in-line3 {
  width: 11px;
  height: 1px;
}
.log-in-text20 {
  color: rgba(255, 67, 0, 1);
  width: 74px;
  height: auto;
  font-size: 11px;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

