@{
    ViewData["Title"] = "Privacy Policy";
}
<style>
    body {
        background-color: #1B1D1F;
    }

    label,
    input,
    span,
    a {
        color: #ffffff;
    }
    </style>
<h1 style="color: #ff4300;">@ViewData["Title"]</h1>

